@import "primitives";
@import "first-person-controller";

body {
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    background: #000;
}

/* UI Overlay */
.ui-layer {
    position: fixed;
    width: 100%; height: 100%;
    pointer-events: none;
    z-index: 10;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.ui-fps {
    color: lime;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
}